<div class="container" style="background: var(--darkblue); ">
    <div class="wrapper"> 
        <div class="content">
            <h1 class="title">Login</h1>
            <p class="error__message">{{authError}}</p>
            <form [formGroup] = "loginForm" (ngSubmit)="submitLogin()">
                <div class="input__wrapper">
                    <input [ngClass]="submitted &&  this.loginForm.get('username')?.invalid? 'input__error' : 'input'" formControlName="username" type="username"  placeholder="Username">
                    <div class="error__wrapper" *ngIf="submitted">
                        <div class="error" *ngIf="this.loginForm.get('username')?.errors?.['required']"> <small>Username is required.</small>  </div>
                    </div>
                </div>

                <div class="input__wrapper">
                    <input [ngClass]="submitted &&  this.loginForm.get('password')?.invalid? 'input__error' : 'input'" formControlName="password" type="password"  placeholder="Password">
                    <div class="error__wrapper" *ngIf="submitted &&  this.loginForm.get('password')?.invalid">
                        <div class="error" *ngIf="this.loginForm.get('password')?.errors?.['required']"> <small>Password is required.</small>  </div>
                    </div>
                </div>
                <button>Login to your account</button>
            </form>
            <p >Don’t have an account?  <span routerLink="/register" >Sign Up</span> </p>
        </div>
    </div>
</div>