.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-x: hidden;
    .board {
        width: 255px;
        height: 137px; 
        border-radius: 10px;
        background: radial-gradient(166.82% 166.82% at 103.90% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 24px;
        h1 {
            color: var(--white);
            font-size: 20px;
            font-weight: 700;
            letter-spacing: -0.25px; 
        }
        h2 {
            font-size: 15px;
            color: var(--white);
            font-weight: 500; 
        }
    }
    .filter__wrapper {
        width: 255px;
        height: 166px; 
        border-radius: 10px;
        background: var(--white); 
        padding: 24px;
      
        justify-content: flex-start;
        .filter__btn {
            cursor: pointer;
            width: fit-content;
            padding: 5px 16px;
            height: 30px; 
            border: none;
            border-radius: 10px;
            background: var(--bg); 
            color: var(--navyblue);
            font-size: 13px;
            font-weight: 600; 
            transition: 0.3s;
            margin-bottom: 14px;
            margin-right: 8px;
            &:hover {
                transition: 0.3s;
                background: var(--boldtext-hover); 
            }
        }
        .filter__btn__active {
            @extend .filter__btn;
            background: var(--navyblue); 
            color: var(--white);
            &:hover {
              
                background: var(--navyblue); 
            }
        }
    }
    .roadmap__wrapper {
        width: 255px;
        height: 178px; 
        border-radius: 10px;
        background: var(--white); 
        padding: 24px;
        .header {
            display: flex;
            justify-content: space-between;
            p {
                color: var(--boldtext);
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -0.25px; 
            }
            button {
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: var(--navyblue);
                font-size: 13px;
                font-weight: 600;
                text-decoration-line: underline; 
                transition: 0.3s;
                &:hover {
                    transition: 0.3s;
                    color: var(--navyblue-hover);
                }
            }
        }
        .roadmap {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            .block {
                margin-top: 8px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .title {
                    display: flex;
                  
                    align-items: center;
                    gap: 16px;
                    color: var(--text);
                    font-size: 16px;
                    &::before {
                        content: '';
                        display: block;
                        width: 8px;
                        height: 8px; 
                        border-radius: 50%;
                        
                    }
                   
                }
                .count {
                    color: var(--text);
                    font-size: 16px;
                    font-weight: 700; 
                }
                &:first-child {
                    .title {
                        &::before {
                            background-color: var( --pink);
                        }
                    }
                }
                &:nth-child(2){
                    .title {
                        &::before {
                            background-color: var(--purple)
                        }
                    }
                }
                &:last-child {
                    .title {
                        &::before {
                            background-color: var(--blue);
                        }
                    }
                }
            }
           
        }
    }
}
@media(max-width:968px) {
    .wrapper {
        .board {
           display: none;
        }
        .filter__wrapper {
            width: 100%;
        }
        .roadmap__wrapper {
            width: 100%;
        }
    }

    
}